## Python Exercise : Content Based Recommendation System

In [2]:
import pandas as pd
import numpy as np

In [3]:
movies = ["Terminator 2","Interstellar","Ant Man 2","3 Idiots"]
scores = [7,9,8,9]
action = [1,0,1,0]
scifi = [1,1,1,0]
adventure = [0,1,1,0]
comedy = [0,0,1,1]
drama = [0,1,0,1]

df_movies = pd.DataFrame({
    'movie':movies,
    'scores':scores,
    'Action':action,
    'Sci-Fi':scifi,
    'Adventure':adventure,
    'Comedy':comedy,
    'Drama':drama
})

df_movies

          movie  scores  Action  Sci-Fi  Adventure  Comedy  Drama
0  Terminator 2       7       1       1          0       0      0
1  Interstellar       9       0       1          1       0      1
2     Ant Man 2       8       1       1          1       1      0
3      3 Idiots       9       0       0          0       1      1